

#site-informations {

  h1 {
    text-transform: uppercase;
  }

}

#main-menu {

  margin-left: 0px;

  li {

    display: inline-block;
    text-transform: uppercase;

    a {
      color:white;
      padding: 10px;
      background-color: yellowgreen;
      border-radius: 5px;
    }

  }

}

.region-content-bottom--row-1 {


  #block-block-1 i  {
    color: goldenrod !important;
  }

  #block-block-1 a {
    background-color: goldenrod !important;
  }

  #block-block-2 i  {
    color: salmon !important;
  }

  #block-block-2 a {
    background-color: salmon !important;
  }

  #block-block-3 i  {
    color: #ff7844 !important;
  }

  #block-block-3 a {
    background-color: #ff7844 !important;
  }
  .content p {
    text-align: center;
  }

  i {
    font-size: 100px;
    display: inline-block;
    margin:auto;
  }



  #photo {

  }

  .button {
    width: 100%;
  }

}